
.vl {
  border-left: 2px solid black;
  height: 30px;
  padding: 5px;
  
}

.color-nav{
  background-color: #FAF23E;
  display: flex;
}


.color-nav>img{
  padding: 7px 14px;
  width: 5px;
}



.profile{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: 3px ridge black; 
}